// Pull in normalize css
@import '../node_modules/normalize.css/normalize.css';

/* Tag attributes */

body {
  font-family: Montserrat, sans-serif;
  background: rgb(1, 26, 81);
}
main {
  background: rgb(229, 229, 229);
  width: 320px;
  height: 480px;
  text-align: center;
  margin: auto;
  right: 0;
  left: 0;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.8), 0 9px 30px 0 rgba(0, 0, 0, 0.8);
}
header {
  font-size: 30px;
  font-weight: bold;
}
input {
  width: 280px;
  border: none;
  text-align: right;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  overflow-x: visible;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
button {
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  width: 63px;
  height: 54px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
}
button:active {
  background-color: rgb(229, 229, 229);
}
footer {
  padding: 15px 0 0px 0;
}
*:focus {
  outline: none;
}
a:link, a:visited {
  border: none;
  text-decoration: underline;
  font-style: normal;
  color: rgb(0, 0, 0);
}
a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Created IDs */

#entry-field {
  font-size: 16px;
}
#result-field {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
}
#buttons {
  padding: 5px 0px 0px 0px;
  font-size: 20px;
  font-weight: bold;
}
